*{
    margin: 0;
    padding: 0;
}
/* body{
    background-color: #2a75bb   !important;
} */

.nav-items li{
    list-style: none;
}
.nav-items li a{
    color: gray;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.nav-items li a:hover{
    color: red;
}
.nav-logo{
    cursor: pointer;
}
.card{
    cursor: pointer;
}
.card-body{
    transition: all .2s ease;
}
.card1:hover{
    background-color: #ff6fff !important ;
}
.card2:hover{
    background-color: #ffa500 !important;
}
.card3:hover{
    background-color:  #ffb6c1 !important;
}
.card:hover{
    top: -5px;
    transition: all .2s linear;
}

.card-title{
    color: whitesmoke;
    
}
.card-text{
    color: black;
}
.card-text1{
    color: whitesmoke !important;
}
.login{
    cursor: pointer;
   
}
.loginLogo{
    font-size: 20px;
}
.loginLogo:hover{
    color: red;
}
.carousel-control-prev{
    color: black !important;
}
.carouselText{
    color: whitesmoke;
}
.buttonExplore{
    bottom: 8px;
  right: 16px;
}
.whatsNew{
    color: gray;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form-control{
    border: 1px solid gray !important;
}
.form-control:focus{
    border: 1px solid blue !important;
}
.modalH1{
    color: black !important;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.createAccount a p ,
.frgtPass a p
{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.language{
    width: 120px;
}
.language-selected{
    cursor: pointer;
}
.language ul{
    width: 140px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    display: none !important;
}
.language ul li{
    list-style: none;
}

.language-selected:before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;
    background-image: url('https://3.bp.blogspot.com/-6NvXWVDV2ik/Vv_XX-7qAdI/AAAAAAAAWe0/4Q2acs5caTY_swoAgzKqNU_PaEC-ZQIuw/s1600/American%2BFlag.png');
}
.language-selected.change-en::before{
    background-image: url('https://3.bp.blogspot.com/-6NvXWVDV2ik/Vv_XX-7qAdI/AAAAAAAAWe0/4Q2acs5caTY_swoAgzKqNU_PaEC-ZQIuw/s1600/American%2BFlag.png');
}
.language-selected.change-ks::before{
    background-image: url('https://media1.thehungryjpeg.com/thumbs2/800_3555080_1m12jqw4morrmfb0mspe9nsbbdhya8djaegu8rge_south-korean-flag.jpg');
}
.language-selected.change-es::before{
    background-image: url('https://tse3.mm.bing.net/th?id=OIP.PDnYa8NczSRAfgj9oBo9PAHaEK&pid=Api&P=0&w=268&h=151');
}


.language ul li a::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;
    vertical-align: middle;
}
a.es:before{
    background-image: url('https://tse3.mm.bing.net/th?id=OIP.PDnYa8NczSRAfgj9oBo9PAHaEK&pid=Api&P=0&w=268&h=151');
}
a.ks:before{
    background-image: url('https://media1.thehungryjpeg.com/thumbs2/800_3555080_1m12jqw4morrmfb0mspe9nsbbdhya8djaegu8rge_south-korean-flag.jpg');
}
a.en::before{
    background-image: url('https://3.bp.blogspot.com/-6NvXWVDV2ik/Vv_XX-7qAdI/AAAAAAAAWe0/4Q2acs5caTY_swoAgzKqNU_PaEC-ZQIuw/s1600/American%2BFlag.png');
}
.language:hover ul {
    display: block !important;
}